<div class="container mt-5">
  <div class="row">
   
      <h5>マイページ</h5>
      
      <h5>登録情報</h5>
       <%= link_to '編集する', edit_customer_path(@customer.id), class:"btn btn-success" %>
　　　　<div class="field">
          氏名
        　<%= @customer.last_name %>
        　<%= @customer.first_name %>
        </div>
  
        <div class="field">
          フリガナ
          <%= @customer.last_name_kana %>
          <%= @customer.first_name_kana %>
        </div>
        
        <div class="field">
          郵便番号
          <%= @customer.postal_code %>
        </div>
        
        <div class="field">
          住所
          <%= @customer.address %>
        </div>
        
        <div class="field">
          電話番号
          <%= @customer.telephone_number %>
        </div>
        
        <div class="field">
          メールアドレス
          <%= @customer.email %>
        </div>
        
       
      
      <h5>配送先
           <%= link_to '一覧を見る', root_path, class:"btn btn-primary" %>
      </h5>
      <h5>注文履歴
           <%= link_to '一覧を見る', root_path, class:"btn btn-primary" %>
      </h5>
      
      
      
        
    
  </div>
</div>