<h6>
  <span>商品ID</span>
  <span>商品名</span>
  <span>税抜価格</span>
  <span>ジャンル</span>
  <span>ステータス</span>
  
  
</h6>

<% @items.each do |item| %>
 
  
    
    <%= item.id %>
    <%= link_to item.name, admin_item_path(item.id) %>
    <%= item.price %>
    <%= item.genre_id %>
    <%= item.is_active %>
    
  
<% end %>
