<h5>商品詳細</h5>

    
 <p>商品名</p>
 <%= @item.name %>
 <p>商品説明</p>
 <%= @item.introduction %>
 <p>ジャンル</p>
 <%= @item.genre_id %>
 <p>税込価格<br>
 (税抜価格)</p>
 <%= (@item.price * 1.1).floor %>
 (<%= @item.price %>)
 <p>販売ステータス</p>                  
 <% if @item.is_active %>
 <td>販売中</td>
 <% else %>
 <td>販売停止中</td>
  <% end %> 
  <%= link_to "編集する", edit_admin_item_path(@item.id), class:"btn btn-success" %>
