<div class="container mt-5">
  <div class="row">
   
      <h5>注文履歴詳細</h5>
        <div class="field">
          購入者
        　<%= @order.customer.last_name %>
        　<%= @order.customer.first_name %>
        　
        </div>
      
      
　　　　<div class="field">
          注文日
        　<%= @order.created_at %>
        　
        </div>
  
        <div class="field">
          配送先
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.name %>
          
        </div>
        
        <div class="field">
          支払方法
          <%= @order.payment_method_i18n %>
        </div>
        
        <div class="field">
          ステータス
          <%= @order.status_i18n %>
        </div>
        
        
　　　　<div class="field">
          商品合計
        　<%= @order.total_payment - @order.shipping_cost  %>
        　
        </div>
  
        <div class="field">
          配送料
          <%= @order.shipping_cost %>
          
        </div>
        
        <div class="field">
          請求金額合計
          <%= @order.total_payment %>
        </div>
        

