<h5>配送先登録/一覧</h5>

<%= form_with model: @adress do |f| %>
  郵便番号(ハイフンなし)
  <%= f.text_field :postal_code %>
	
  住所
  <%= f.text_field :address %>
  
  宛名
  <%= f.text_field :name %>
  
  <%= f.submit '新規登録', class:"btn btn-success" %>
<% end %>

 <table class="table table-bordered">
  <thead>
    <tr>
      <th scope="col">郵便番号</th>
      <th scope="col">住所</th>
      <th scope="col">Last</th>
      <th scope="col"></th>
    </tr>
  </thead>
  <tbody>
    <% @addresses.each do |address| %>
    <tr>
      <td><%= address.postal_code %></td>
      <td><%= address.adress %></td>
      <td><%= address.name %></td>
    </tr>
    <% end %>
  </tbody>
</table>