<h4>注文情報入力</h4>
<%= form_with model: @order, url: orders_confirm_path do |f| %>
  <P>支払方法</P>
    <%= f.radio_button :payment_method, Order.payment_methods.key(0) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:credit_card] %>
    <%= f.radio_button :payment_method, Order.payment_methods.key(1) %>
    <%= f.label :payment_method, Order.payment_methods_i18n[:transfer]%>
  <P>お届け先</P>
  　<%= f.radio_button :select_address, "0" %>
　　<%= f.label :select_address, "ご自身の住所" %></br>
　　〒<%= current_customer.postal_code %>
　  <%= current_customer.address %></br>
　  <%= current_customer.last_name %>
　  <%= current_customer.first_name %></br>
　　<%= f.radio_button :select_address, "1" %>
　　<%= f.label :select_address, "登録先住所からの選択" %>
　　<%= f.select :address_id, options_from_collection_for_select(Address.all, :id, :address_display) %>
　　<%= f.radio_button :select_address, "2" %>
　　<%= f.label :select_address, "新しいお届け先" %>
　　郵便番号(ハイフンなし)<%= f.text_field :postal_code %>
　　住所<%= f.text_field :address %>　
　　宛名<%= f.text_field :name %>
  <%= f.submit '確認画面へ進む', class:"btn btn-primary" %>
<% end %>         　　　
