<div class="container mt-5">
  <div class="row">
   
      <h5>注文履歴詳細</h5>
      
      <h6>注文情報</h6>
　　　　<div class="field">
          注文日
        　<%= @order.created_at %>
        　
        </div>
  
        <div class="field">
          配送先
          <%= @order.postal_code %>
          <%= @order.address %>
          <%= @order.name %>
          
        </div>
        
        <div class="field">
          支払方法
          <%= @order.payment_method_i18n %>
        </div>
        
        <div class="field">
          ステータス
          <%= @order.status_i18n %>
        </div>
        
        <h6>請求情報</h6>
　　　　<div class="field">
          商品合計
        　<%= @order.total_payment - @order.shipping_cost  %>
        　
        </div>
  
        <div class="field">
          配送料
          <%= @order.shipping_cost %>
          
        </div>
        
        <div class="field">
          ご請求額
          <%= @order.total_payment %>
        </div>
        
 <div class="container mt-5">
  <div class="row">
    <table class="table table-hover table-inverse">
      <h6>注文内容</h6>
      <thead>
          <th>商品</th>
          <th>単価(税込)</th>
          <th>個数</th>
          <th>小計</th>
          
      </thead>
      <tbody>
          <tr>
            <td>
              <% @order.order_details.each do |order_detail| %>
                <%= order_detail.item.name %>
                <%= order_detail.item.price %>
                <%= order_detail.amount %>
                <%= order_detail.price * order_detail.amount%>
                
              <% end %>  
             
            </td>
            
          </tr>
         
      </tbody>
    </table>
 </div>
 </div>
