<!DOCTYPE html>
<html>
  <head>
    <title>NaganoCake</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
       <div class="container">
         
         
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
          <ul class="navbar-nav ml-auto">
            
            <% if admin_signed_in? %>
              <li>
                <%= link_to  admin_items_path, class: "nav-link text-light" do %>
                  
                  <span>商品一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to   admin_customers_path, class: "nav-link text-light" do %>
                  
                  <span>会員一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to  admin_root_path, class: "nav-link text-light" do %>
                  
                  <span>注文履歴一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to  admin_genres_path, class: "nav-link text-light" do %>
                  
                  <span>ジャンル一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to  destroy_admin_session_path, method: :delete, class: "nav-link text-light" do %>
                  
                  <span>ログアウト</span>
                <% end %>
              </li>
            
            
           
            
            
            <% elsif customer_signed_in? %>
            ようこそ、<%= current_customer.last_name%>さん！
              <li>
                <%= link_to  customer_path(current_customer.id), class: "nav-link text-light" do %>
                  
                  <span>マイページ</span>
                <% end %>
              </li>
              
              <li>
                <%= link_to  items_path, class: "nav-link text-light" do %>
                  
                  <span>商品一覧</span>
                <% end %>
              </li>
              
              <li>
                <%= link_to  cart_items_path, class: "nav-link text-light" do %>
                  
                  <span>カート</span>
                <% end %>
              </li>
              
              <li>
                <%= link_to  destroy_customer_session_path, method: :delete, class: "nav-link text-light" do %>
                  
                  <span>ログアウト</span>
                <% end %>
              </li>
              
              
              
            <% else %>
              <li>
                <%= link_to  about_path, class: "nav-link text-light" do %>
                  
                  <span>About</span>
                <% end %>
              </li>
              
              <li>
                <%= link_to  items_path, class: "nav-link text-light" do %>
                  
                  <span>商品一覧</span>
                <% end %>
              </li>
              <li>
                <%= link_to  new_customer_registration_path, class: "nav-link text-light" do %>
                  
                  <span>新規登録</span>
                <% end %>
              </li>
              <li>
                <%= link_to   new_customer_session_path, class: "nav-link text-light" do %>
                  
                  <span>ログイン</span>
                <% end %>
              </li>
              
            <% end %>
          </ul>
         </div>
       </div>
      </nav>
    </header>
    <%= flash[:notice] %>
    <%= yield %>
    <footer>
      <div class="container mt-5">
      	<div class="row">
        	<div class="mx-auto">
        		<p>CopyRight Infratop.inc</p>
        	</div>
        </div>
      </div>
    </footer>
  </body>
</html>
